body {
	background-color: lightskyblue;
	font-family: 'East Sea Dokdo', cursive;
    font-family: 'Roboto', sans-serif;
}
li {
	text-align: center;
	list-style: none;
}

li:first-letter{
	font-size: 24px;
}
h1 {
	font-family: italci;
}