* {
	text-align: right;
}


body {
	background-image: url(background.jpg);
	background-size: cover;
}

p {
	color: darkorange;
	text-align: center;
	border: 5px solid #E26600;
	cursor: pointer;
}
p {
    line-height: 30px;
    font-style: italic; 
    font-weight: bold;
    font-size: 140%;
    font-family: 'East Sea Dokdo', cursive;
}
img {
	float: right;
}
footer {
	clear: both;
	text-align: center;
}
li {
	list-style: none;
	display: inline-block;
}

.webtext {
	border: 5px dashed darkgreen;
}
.active {
	color: purple;
}
#div1 {
	background:  rgba(0, 0, 255, 0.2);
}
#div2 {
	background:  rgba(255, 0, 0, 0.2);
}