.para,
.small-para {
  color: red;
}

.para {
  font-size: 22px;
  color: red;
}

.small-para {
  font-size: 14px;
}

div.text {
  color: green;
  font-size: 22px;
}

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
}

div .child {
  color: red;
  font-size: 14px;
}

